.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header_logo {
  max-width: 300px;
  padding-top: 10px;
  padding-bottom: 92px;
  height: 70px;
}

@media screen and (max-width: 1020px) {
  .header {
    padding-top: 30px;
  }
  .header_logo {
    height: 66px;
  }
}

@media screen and (max-width: 540px) {
  .header {
    padding-top: 20px;
  }
  .header_logo {
    max-width: 190px;
    padding-bottom: 50px;
  }
}
